<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Крестики-нолики</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container" style="background-color:gold">
         <div class="row" >
            <div class="col-xs-4 col-xs-offset-4 text-center" style="background-color:beige">
                <h2>Крестики - нолики</h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-3" style="background-color:aliceblue;">
                @RenderSection("LeftPanel", required: true)
            </div>
            <div class="col-xs-6" style="background-color:aliceblue;">
                @RenderBody()
            </div>
            <div class="col-xs-3" style="background-color:aliceblue;">
                @RenderSection("RightChat", required: true)
            </div>
        </div>
    </div>
</body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</html>
