<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Крестики-котики</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>Крестики - котики <img src="Content/img/Header.png" class="hidden-xs" alt="Кот"/></h1>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-3">
                @RenderSection("LeftPanel", required: true)
            </div>
            <div class="col-xs-6">
                @RenderBody()
            </div>
            <div class="col-xs-3">
                @RenderSection("RightChat", required: true)
            </div>
        </div>
    </div>
</body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</html>
