@using NoughtsAndCrosses.Models
@model List<GameInfoView>
@{
    if (Model.Count > 0)
    {
        foreach (var summary in Model)
        {
            <div id="@summary.Id" onclick="GetMovesInfo(this)" data-toggle="collapse" data-target="#MoveInfo_@summary.Id" class="panel panel-default gg">
                <div class="panel-heading">  
                    Результат: <b>@summary.Result</b> от <small>@summary.StartDate в @summary.StartTime</small>  

                    @if (@summary.PlayerName!= null) 
                    {
                        <p>Игрок @summary.PlayerName</p>
                    }
                    Ходов <span class="badge">@summary.MoveCount</span>
                    <span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
                </div>
                <div class="collapse panel-body" id="MoveInfo_@summary.Id"></div>
            </div>
        }
    }
    else
    {
        <p>Данне не найдены</p>
    }
}
