@using NoughtsAndCrosses.Models
@using NoughtsAndCrosses.Helpers
@model GamesInfoPage
@{
    if (Model.GamesList.Count() > 0)
    {
        foreach (var summary in Model.GamesList)
        {
            <div id="@summary.Id" onclick="getMovesInfo(this)" data-toggle="collapse" data-target="#MoveInfo_@summary.Id" class="panel panel-default changedMargin">
                <div class="panel-heading">  
                    Результат: <b>@summary.Result</b> от <small>@summary.StartDate в @summary.StartTime</small> 
                    Ходов <span class="badge">@summary.MoveCount</span>
                    <span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
                </div>
                <div class="collapse panel-body" id="MoveInfo_@summary.Id"></div>
            </div>
        }
        <div class="btn-group">
            @Html.PageLinks(Model.Pagination)
        </div>
    }
    else
    {
        <p>Данные не найдены</p>
    }
}
